/* Navbar */

.bg-dark-blue {
    background-color: #1564C0;
}

.navbar {
    padding: 0 12%;
    font-weight: 500;
}

.navbar .search-form {
    width: 52%;
}

.navbar a, .navbar a span {
    font-size: 1.2rem;
}

.navbar #search-bar::placeholder {
    color: #fff !important;
    font-weight: 400;
    text-align: center;
}

.navbar #search-bar {
    width: 100%;
    font-size: 1.2rem;
    color: #fff;
    padding: 13px 15px;
}

.navbar #search-bar:focus+.fa-search {
    display: none;
}

.navbar .search-form .fa-search {
    top: 50%;
    left: 48.7%;
    transform: translate(-50%, -50%);
}

.navbar #search-bar {
    background-color: #4383CB;
}

/* HomePageSlider */

.home-page-slider .swiper-button-next, .home-page-slider .swiper-button-prev {
    height: 98%;
    width: 12.5%;
    border-radius: 4px;
    /*background-color: rgb(67, 131, 203,0.3);*/
}

.home-page-slider .swiper-button-next span, .home-page-slider .swiper-button-prev span {
    padding: 35px 20px !important;
    border-radius: 4px;
    color: #FFFFFF !important;
    background-color: rgb(0, 0, 0, 0.7);
}

.home-page-slider .swiper-button-prev span {
    position: absolute;
    right: 0;
}

.home-page-slider .swiper-button-next span {
    position: absolute;
    left: 0;
}

.swiper-button-next::after, .swiper-button-prev::after {
    content: '';
}

.home-page-slider .swiper-button-prev {
    left: 0 !important;
}

.home-page-slider .swiper-button-next {
    right: 0 !important;
}

.home-page-slider .swiper-slide {
    width: auto !important;
}

.home-page-slider .slide-type-box {
    width: 500px;
    height: 500px;
    border-radius: 4px;
}

.home-page-slider .slide-type-box .price-area {
    bottom: 10%;
    left: 6%;
    border-radius: 4px;
}

.home-page-slider .slide-type-2 {
    width: 300px;
    border-radius: 4px;
}

.home-page-slider .slide-type-2 .card-title {
    color: #1564C0;
    font-weight: bold;
}

.home-page-slider .slide-item-image {
    width: 100% !important;
    height: 370px !important;
}

.home-page-slider .swiper-pagination-bullet-active {
    background-color: #FFFFFF !important;
}

.home-page-slider .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    opacity: 1 !important;
    width: 9px;
    height: 9px;
    margin-left: 5px !important;
}

.home-page-slider .swiper-wrapper {
    padding-bottom: 30px;
}

.home-page-slider .swiper-container-horizontal>.swiper-pagination-bullets, .home-page-slider .swiper-pagination-custom, .home-page-slider .swiper-pagination-fraction {
    bottom: -5px !important;
}

/* list */

.product-list-padding {
    padding: 0 12.5% !important;
}

.featured-list .list .product {
    width: 20% !important;
    flex: none !important;
    display: inline-block !important;
}

.bestsellers-list .swiper-button-next-best-seller span, .bestsellers-list .swiper-button-prev-best-seller span {
    padding: 35px 20px !important;
    border-radius: 4px;
    color: #9C9C9C;
    background-color: #EEEEEE;
}

.bestsellers-list .swiper-button-prev-best-seller {
    top: 50%;
    left: 9% !important;
}

.bestsellers-list .swiper-button-next-best-seller {
    top: 50%;
    right: 9% !important;
}

/* Product Card */

.product-card {
    border-radius: 0 !important;
    height: 440px;
}

.product-card:hover {
    border: 1px solid #4383CB !important;
}

.product-card:hover .cart-buttons {
    display: flex !important;
    position: absolute !important;
    bottom: 0;
}

.product-card .card-body .body-bottom {
    width: 100% !important;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.product-card .cart-buttons .add-cart:hover {
    border-color: #2196F3 !important;
}

.product-card .cart-buttons .add-cart {
    background-color: #2196F3 !important;
    border-color: #2196F3 !important
}

.product-card .sell-now {
    background-color: #2196F3;
    top: 0;
}

.product-card .star {
    color: #FF9101;
}

.product-card .price {
    color: #1564C0;
    font-weight: bold;
}

.product-card .alert {
    font-weight: bold;
    font-size: 0.85rem;
    color: #E03B5D;
}

.product-card .shipping {
    background-color: #EEEEEE;
}

.product-card .card-img-top {
    width: 50% !important;
}

/* Footer */

.footer-area {
    width: 58% !important;
    color: #727272 !important;
}

.footer-area .footer-top {
    border-color: #727272 !important;
}
.footer-bottom{
    padding-left: 10%;
    padding-right:10%;
}
.footer-bottom copyright, .footer-bottom span {
    color: rgb(114, 114, 114, 0.85) !important;
}

.footer-area .list-group {
    margin-top: 15px;
}

.footer-area .title {
    font-size: 1.2rem;
    font-weight: 500;
}

.footer-area .list-group-item {
    padding: 4px 0 !important;
    border: none;
}

.footer-area .list-group-item a {
    font-size: .9rem !important;
    color: rgb(114, 114, 114, 0.8) !important;
    text-decoration: none;
}

.footer-area .list-group-item a:hover {
    opacity: 0.5;
}

.footer-area .list-group.no-title {
    margin-top: 39px;
}