* {
    font-size: 13px;
}

.page-container {
    padding: 0 8%;
}
.title-area a{
    text-decoration: none;
    color: #295EA4;
}
a:hover {
    cursor: pointer;
}

.bg-image{
    background-size: cover !important;
    background-repeat: no-repeat !important;
}